 <div class="user-details">
  <h1> Hello! </h1>
  <p> {{site.user_description}} </p>
  <a class="project-link" target="_blank" href="https://drive.google.com/file/d/16SpGGIHeHXBKtyLybKc90NtoieG0OSAD/view?usp=sharing">My Resume</a>
</div>
  <div class="user">
    <div class="tech">
      <h2>Interests</h2>
      <i class="devicon-react-original colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <p>My main interests include software development and app development, and I'm always excited to learn more skills!</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <p>As part of my undergraduate degree studies, I have experience coding in Python and Java.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <p>I have experience with various tools including Git, Visual Studio, and IntelliJ.</p>
    </div>
</div>
