<div class="user-details">
  <h1> My Experience </h1>
</div>
<div class="user-projects">
  <div class="images-right zoom">
    <img alt="mountains" src="{{ "/assets/img/breakingbarriers.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Fundraiser Coordinator | St. Augustine CHS </h3>
    <p>Skills | Adobe Photoshop, Adobe Illustrator</p>
    <p>Effectively communicated with companies across GTA to raise donations for "Breaking Barriers" fundraiser event</p>
    <p>Designed marketing material (invitations, posters) to promote the "Breaking Barriers" fundraiser event, resulting in $10,000 of donations</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
<div class="user-projects">
  <div class="images-left zoom">
    <img alt="mountains" src="{{ "/assets/img/data.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Systems Analyst Volunteer | e-Linus Inc. </h3>
    <p>Skills | Java, SQL, Git</p>
    <p>Developed teamwork, problem solving and communication skills</p>
    <p>Learned about open-standard JSON file format and gained the knowledge to build, serialize and convert JSON files to CSV or XML</p>
    <p>Practiced relational database management SQL using MySQL</p>
    <p>Checked in my Java code and SQL code snippets using Git and Gist services, the web-based hosting service for version control</p>
    <p>Familiarized withh the meaning of Scrum methodology, Agile framework for software development, and DevOps</p>
    <!--<a class="project-link" href="#">Check it out</a>-->
  </div>
</div>
